$theme-colors: (
    "primary":    #4A99C3,
    //"secondary":  $secondary,
    //"success":    $success,
    //"info":       $info,
    //"warning":    $warning,
    //"danger":     $danger,
);

$headings-font-family: 'Montserrat', sans-serif;

$btn-padding-y: 1rem;
$btn-padding-x: 1.25rem;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 1200px,
    xl: 1400px,
    xxl: 1500px,


);

