@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import './_hamburgers.scss';

body {
    overflow-x: hidden;
    height: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0;
}

.no-padding > .container-xxl, .container-xl,
.no-padding > .col,
.no-padding > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.no-margin > .row,
.no-margin > [class*="row-"] {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* logo afbeelding randing */
.logo {
    border-radius: 50%;
}

/* binnen tabel knoppen: tonen, wijzigen, verwijderen*/
.button {
    background-color: #4A99C3; /* Green */
    border: none;
    color: white;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    //ruimte tonen  de knopen
    margin: 0px 15px;

    //ruimte beneden en boven van de knoppen
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 10px;

    cursor: pointer;

    border-radius: 7px;
    left: 1251px;
    width: 100px;

    //spatie binnen de knoppen
    padding-bottom: 13px;
    padding-top: 13px;

    opacity: 1;
}
.button2 {background-color: #A5A5A5;} /* Blue */
.button3 {background-color: #AE7931;} /* Red */

/* binnen tabel knoppen: tonen, wijzigen, verwijderen*/
.klantenbutton {
    background-color: #4A99C3; /* Green */
    border: none;
    color: white;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    //ruimte tonen  de knopen
    margin: 0px 0px;

    //ruimte beneden en boven van de knoppen
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;

    cursor: pointer;

    border-radius: 7px;
    left: 1251px;
    width: 100px;

    //spatie binnen de knoppen
    padding-bottom: 13px;
    padding-top: 13px;

    opacity: 1;
}
.klantenbutton2 {background-color: #A5A5A5;} /* Blue */
.klantenbutton3 {background-color: #AE7931;} /* Red */

/*buiten tabel of create knop*/
.factuurbutton {
    background-color: #85C1D0; /* Green */
    border: none;
    color: white;
    //padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    //ruimte tonen  de knopen
    //margin: 0px -15px;

    //ruimte beneden en boven van de knoppen
    margin-top: 7px;
    margin-left: 5px;
    margin-bottom: 5px;

    cursor: pointer;

    border-radius: 7px;
    //left: 200px;
    width: 320px;

    //spatie binnen de knoppen
    padding-bottom: 8px;
    padding-top: 7px;
    //padding-right: 20px;
    //padding-left: 20px;

    opacity: 1;
}

/*buiten tabel of create knop*/
.createbutton {
    background-color: #AE7931; /* Green */
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 15px;
    cursor: pointer;

    //top: 310px;
    left: 1638px;
    width: 155px;
    //height: 47px;
    padding-bottom: 9px;
    padding-top: 9px;

    /* UI Properties */
    background: var(--unnamed-color-ae7931) 0% 0% no-repeat padding-box;
    background: #AE7931 0% 0% no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
}
.createbuttontarief {background-color: #85c1d0;} /* Blue */


/*titel en info van elke pagina met design*/
.titlebox{
    position: relative;
    //left: 40px;
    //width: 500px;
    //height: 49px;
    //margin-left: 10px;
    //padding-top: 25px;
    margin-top: 40px;

    &::before {

        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-225%);

        display: block;
        width: 23px;
        height: 103px;
        background: #85c1d0;
    }


    .title {
        //text-align: left;
        font-size: 40px;
        font-weight: 600;
        color: #84C1D1;
        opacity: 1;

        //padding-left: 25px;

    }
    .info{
        position: absolute;
        //margin-left: 25px;

        //height: 35px;

        &::before {

            content: ' ';
            position: absolute;
            top: 32px;
            left: 0;
            transform: translateY(100%);

            display: block;
            width: 46px;
            height: 4px;
            background: #C3C2C2;
        }
    }
}

/*tabel head*/
.tablehead {
    /* UI Properties */
    background: #ECE0D0;
    //height: 77px;

    /*tableheadfont*/
    .tableheadfont {
        /* Layout Properties */
        /* UI Properties */
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: bold 19px Segoe UI;
        letter-spacing: 0px;
        color: black;
        //opacity: 1;
        padding-top: 25px;
        padding-left: 18px;
        border: 1px solid #D1D0CE;

    }
}

/*tabel rij*/
.tablerow {
    border: 1px solid #dee2e6;

    background: #fbf8f5;

    /*tabel rij cell*/
    .tablerowcell {

        padding-top: 31px;
        padding-left: 18px;
    }
}

.profilesection{
    //display: flex;

    .profilesectionleft{
        //width: 631px;
        //height: 968px;

        background: white;
        //text-align: center;

        //align-content: center;

        //padding-top: 90px;

        /*titel van profiel pagina*/


        .profiletitle {
            //top: 201px;
            //left: 94px;
            //width: 200px;
            //height: 968px;
            position: absolute;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-49) var(--unnamed-font-family-montserrat);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-84c1d1);
            //text-align: left;
            font: normal normal 530 30px Montserrat;
            letter-spacing: 0px;
            color: #84C1D1;
            opacity: 1;
            //width: 631px;

            &::before {

                content: ' ';
                position: absolute;
                top: 32px;
                left: 0px;
                transform: translateY(100%);

                display: block;
                width: 46px;
                height: 4px;
                background: #C3C2C2;
                //margin-bottom: 100px;


            }
        }
    }

    .profilesectionright{
        //width: 1289px;
        //height: 968px;
        background: #e0eff3;

        //padding-left: 136px;
        //padding-top: 135px;
        //padding-right: 136px;

    }

    .profilesectionrightinner{
        position: relative;
        //width: 1017px;
        //height: 821px;
        background: white;

        //margin-top: 147px;
        //margin-left: 23px;
        //margin-right: 23px;

        //padding-left: 147px;
        //padding-top: 136px;
        //padding-right: 136px;

        &::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);

            display: block;
            width: 23px;
            height: 103px;
            background: #85c1d0;
        }
    }
}

//elemeneten voor de navbar
.navbarbox{
    position: relative;
    text-align: center;
    background-color: white;
    //height: 70px;

    //padding-right: 600px;

    //margin-bottom: 17px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 4px solid #85c1d0;
    //&::after {
    //    content: ' ';
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    transform: translateY(1700%);
    //
    //    display: block;
    //    width: 1920px;
    //    height: 4px;
    //    background: #85c1d0;
    //}

    .navbarboxtext{
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
        color: black;
    }

    img.navbar-logo {
        width: 100%;
        max-width: 100px;
        margin: 5px 0 0 25px;
    }

    @media screen and (max-width: 768px) {
        img.navbar-logo {
            max-width: 120px;
            margin: 15px 0 0 25px;
        }
    }
}

.logoutbox {
    background: #c9a676;
    content: ' ';
    position: fixed;
    bottom: 20px;
    left: 0;
    display: block;
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;

    z-index: 9999;
    opacity: 0.75;

    //&::after {
    //content: ' ';
    //position: absolute;
    //top: 0;
    //left: 0;
    //transform: translateY(1480%);
    //
    //display: block;
    //width: 281px;
    //height: 58px;
    //background: #c9a676;
    //
    //
    //}
    .fontcolor{
        color: white;
    }
    .logoutbtn {
        background: none;
        border: 0;
        text-decoration: underline;
        padding-left: 16px;
        color: white;
    }

}

.factuursection{
    //display: flex;
    //width: 1920px;
    //height: 1080px;
    background: #e0eff3;

    padding-left: 136px;
    //padding-top: 50px;
    padding-right: 136px;

        .factuursectioninner{
            position: relative;
            //width: 4000px;
            //height: 761px;
            background: white;

            //margin-top: 147px;
            //margin-left: 23px;
            //margin-right: 23px;

            padding-left: 290px;
            padding-top: 100px;
            padding-right: 290px;

                &::before {
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateX(-100%);

                    display: block;
                    width: 23px;
                    height: 103px;
                    background: #85c1d0;

        }
    }
}

.factuursectiontitlebox{
     margin-top: 100px;
     //margin-bottom: 20px;

     /*titel van factuur pagina*/
     .factuursectiontitle {
         //top: 201px;
         //left: 94px;
         //width: 200px;
         //height: 968px;
         //position: absolute;
         font-size: 40px;
         font-weight: 600;
         color: #84C1D1;
         opacity: 1;

     }
     .factuursectiontitleinfo{
         //position: absolute;
         //margin-left: 25px;

         height: 35px;

         &::before {

             content: ' ';
             position: absolute;
             top: 32px;
             left: 15px;
             transform: translateY(3900%);

             display: block;
             width: 46px;
             height: 4px;
             background: #C3C2C2;
         }
     }
 }

.factuurcreatebutton {
    background-color: #AE7931; /* Green */
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 200.05px;
    cursor: pointer;

    //top: 310px;
    left: 1638px;
    width: 155px;
    //height: 47px;
    padding-bottom: 9px;
    padding-top: 9px;

    /* UI Properties */
    background: var(--unnamed-color-ae7931) 0% 0% no-repeat padding-box;
    background: #AE7931 0% 0% no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
}

.wijzigensection{
    //display: flex;
    //width: 1920px;
    //height: 1080px;
    background: #e0eff3;

    padding-left: 136px;
    //padding-top: 50px;
    padding-right: 136px;

    .wijzigensectioninner{
        position: relative;
        //width: 4000px;
        //height: 761px;
        background: white;

        //margin-top: 147px;
        //margin-left: 23px;
        //margin-right: 23px;

        padding-left: 290px;
        padding-top: 100px;
        padding-right: 290px;

        &::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);

            display: block;
            width: 23px;
            height: 103px;
            background: #85c1d0;

        }
    }
}

.section{
    //display: flex;
    //width: 1920px;
    //height: 1080px;
    background: #e0eff3;
    //height: 100vh;


    //padding-left: 136px;
    //padding-top: 50px;
    //padding-right: 136px;

    .sectioninner{
        position: relative;
        //width: 4000px;
        //height: 761px;
        background: white;
        //height: 100vh;

        //margin-top: 147px;
        //margin-left: 23px;
        //margin-right: 23px;

        //padding-left: 290px;
        padding-top: 105px;
        //padding-right: 290px;

        &::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);

            display: block;
            width: 23px;
            height: 103px;
            background: #85c1d0;

        }
    }
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: lime; /* Just to visualize the extent */

}


.height190 {
    height: 190%;
}
.height180 {
    height: 180%;
}
.height170 {
    height: 170%;
}
.height160 {
    height: 160%;
}
.height150 {
    height: 150%;
}
.height140 {
    height: 140%;
}
.height130 {
    height: 130%;
}
.height120 {
    height: 120%;
}
.height110 {
    height: 110%;
}

.height100 {
    height: 100%;
}
.height95 {
    height: 95%;
}
.height90 {
    height: 90%;
}
.height85 {
    height: 85%;
}
.height80 {
    height: 80%;
}
.height75 {
    height: 75%;
}
.height73 {
    height: 73%;
}
.height70 {
    height: 70%;
}
.height65 {
    height: 65%;
}
.height60 {
    height: 60%;
}
.height55 {
    height: 55%;
}
.height50 {
    height: 50%;
}
.height45 {
    height: 45%;
}
.height40 {
    height: 40%;
}
.height35 {
    height: 35%;
}
.height30 {
    height: 30%;
}
.height25 {
    height: 25%;
}
.height20 {
    height: 20%;
}
.height15 {
    height: 15%;
}
.height14 {
    height: 14%;
}
.height13 {
    height: 13%;
}
.height10 {
    height: 10%;
}
.height5 {
    height: 5%;
}

.nav-item .nav-link.active {
    font-weight: bold;
    background-color: red;
}

@import 'media';
